body {
  font-family: Montserrat;
}

.container-fluid {
  padding: 1% 1%;
}

.top-container {
  background-color: #6495ED;
  color: white;
}

#title {
  text-align: center;
  font-size: 2rem;
  padding: 20px;
}

#logo {
  position: relative;
  left: 660px;
  border-radius: 100%;
}

.middle-container {
  margin: 20px;
  font-size: 1.5rem;
}

.sections {
  padding-left: 200px;
}

.bottom-container {
  background-color: #A9A9A9;
  padding: 20px;
}

.navbar {
  padding-bottom: 3rem;
}

.navbar-brand {
  font-family: ubuntu;
  font-size: 2rem;
}

.nav-item {
  padding: 0 15px;
}

.nav-link {
  font-size: 1.2rem;
}

.items {
  text-align: center;
}

#feedback {
  text-align: center;
}

.comments {
  margin-top: 50px;
  text-align: center;
  font-size: 2rem;
}
